html, body{
    margin: 0;
    padding: 0;
    font-family: "Chivo";
}

p {
    margin-left: -100%;
}

.background{
    height: 100vh;
    background: antiquewhite;
    /*background-image: url('/img/img.jpg');
    background-position: center;
    background-size: cover;*/
}

.smallname {
    font-size: 24px;
    font-family: 'Archivo Narrow', serif;
    left: 0;
    top: 0;
    padding: 12px;
    position: absolute;
    line-height: 30px;
}

.navpane {
    background: white;
    width: 20%;
    height: 100%;
    opacity: 0.75;
    display: inline-block;
}

.container {
    float: right;
    background: white;
    opacity: 0.5;
    width: 65%;
    height: 80%;
    border-radius: 25px;
    overflow: hidden;
}

.absolute-center, .item{
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 60%;
}

.item {
    font-size: 24px;
    left: 50% !important
}

.vertically-center{
    transform: translateY(-50%);
    position: absolute;
    margin: 0;
    top: 50%;
    left: 10%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 25%;
    padding: 20px;
}

.project {
    float: right;
    background: gray;
    opacity: 0.5;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    max-height: 30px;
}

.profile {
    text-align: center;
}

.profile h5 {
    color: brown;
}

.profile a {
    text-decoration: none;
    font-size: 80%;
    color: black;
}

a:hover {
    cursor:pointer;
    color: sienna;
    background-color: wheat;
}

.project:hover {
    opacity: 1;
    flex-grow: 3;
}

#email:hover {
    background-color: transparent;
}

#return:hover {
    background-color: transparent;
}

#github {
    width: 26px;
    float:right;
    margin-right: 9%;
    margin-top: 6%;
}

#email {
    width: 10%;
    float:right;
    margin-right: 9%;
    margin-top: 4%;
    font-size: 30px;
}

#return {
    top: 50%;
    font-size: 50px;
    margin-left: 3%;
    line-height: 75px;
}

@media (max-width: 915px) {                  
    #github, #email {
       display: none;
    }
}
